.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    width: 40%;
    margin-left: 35px;
  }
  
  .leftcolumn {
    margin-top: 0%;
    margin-left: 5%;
    float: left;
    width: 25%;
  }
  
  .rightcolumn {
    margin-top: 5%;
    float: right;
    width: 70%;
    padding: 2%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .home-outer-container{
      display : flex;
      flex-direction: row;
      background-color: white;
  }
  
  .home-image-container{
      font-family: 'Abril Fatface', cursive;
      color: red;
      flex : 6;
      margin-top: 10%;
      margin-bottom: 15%;
  
  }
  #red , #green{
    width:20%;
    height: 40px;
  }
  .solution_size{
    width: 100%;
  }
  #green{
    margin-left: 300px;
    margin-top: -40px;
  }
  .onequestion{
    margin-left: 250px;
    margin-top: 50px;
    text-decoration: underline;
  }
  .allanswers{
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  .space{
    margin-top: 15px;
    margin-left: 60px;
  }
  #red{
    margin-top: 15px;
  }
  .home-signin-container{
      flex : 6;
  }
  
  .signin-inner-container{
      color: black;
      padding-top: 15%;
      padding-left: 10%;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: cover; */
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    border-color: black;
    border-width: medium;

  }
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }



  .center-block{
    width: 50%;
}

.loanParamsLoader {
    top: 200px;
    margin: auto;
    position: absolute;
    right: 50%;
    width: 50%;
}
.question{
    background: #9ACD32;
    padding: 5px; 
    height:54px;
    margin-top: 30px;
    border-top-left-radius: 15px;
    overflow: scroll;
}
.answer{
  background:whitesmoke; 
  padding: 5px; 
  height: 150px;
  margin-top: 30px;
  color: #fff;
  border-style: solid; 
  border-width: thick; 
  border-color: black;
  overflow: scroll;
}

#text{
margin-left: 60px;
margin-top: -40px;
height:2px;
width:90%;

}
.nav-item{

margin-left:10px;

}
#textanswer{
  margin-left: 60px;
  height:2px;
  width:100%;
}
.websitegap{

  margin-left: 650px;
  margin-top:20px;
  text-decoration: underline;
}
.usergap{
  margin-bottom: 10px;
  margin-left: 20px;
}
#text_1{
  font-size: 1.5rem;
}
.answersgap{

  margin-top:30px;
  margin-left:300px;
}
#text_2{
  font-size: 1rem;
}

#qid{
    margin-right: 22px;
    background-color: #ffffff;
    color: #aaaaaa;
}
  

   
@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
}
.anchordesign{
  text-decoration:none;
  color:#444444;
}
.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color:#556B2F;
}
.white-panel{
    background-color: #BAB863;
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.update,.delete,.answers_1{

  margin-left:25px;
  color :black;
  height: 27px;
}
.changeposition{
  margin-top:-5px;
  color: black;
}
.changepassword{

  margin-top: 450px;
  margin-top: 50px;
}
.quesdata{
  margin-left:10px;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
.anchordesign{
  text-decoration:none;
  color:#2c7715;
  margin-top:-20px;
}
    
    
    