{% extends "base.html" %}
{% block homecontent %}

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">Buzz Questions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      {% if user %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">
         <i class="fa fa-sign-out" aria-hidden="true"></i>
          Signout
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('add_question') }}">
            <i class="fa fa-question" aria-hidden="true"></i>
          Write a Question
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{current_user.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('user', username=current_user.name)}}">My Profile</a>
          <a class="dropdown-item" href="{{url_for('deleteuser',userid=current_user.id)}}">Delete account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{url_for('users')}}">All site users</a>
        </div>
      </li>
      {%else%}
            <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">
         <i class="fa" aria-hidden="true"></i>
          Register
        </a>
      </li>
      {%endif%}
      </ul>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- <ul class="nav navbar-nav">
                    ... home and explore links ...
                </ul> -->
                {% if g.search_form %}
                <form class="form-inline my-2 my-lg-0 navbar-form navbar-left" method="get"
                        action="{{ url_for('search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}
        </div>
  </div>
</nav>
      {% block indexcontent %}{% endblock %}
{% endblock %}