{% extends "navbarbase.html" %}

{% block indexcontent %}
<div class="row">
  <div class="leftcolumn">
    <table>
        <tr valign="top">
            <td><h1>Logged in : {{ username }}</h1></td>
            <br>
        </tr>
    </table>
  </div>
  <div class="rightcolumn">
      <h2>Questions</h2>
        {% if questions is defined %}
            {% for question in questions %}
                <div class="card">
                  <article class="media content-section">
                    <div class="media-body">
                      {% if curent_user_name == username %}
                      <div class="article-metadata">
                          <small class="text-muted update btn btn-success"><a class="changeposition" href="{{url_for('updatequestion', questionid=question.id)}}">update</a></small>
                          <small class="text-muted delete btn btn-danger"><a  class="changeposition" href="{{url_for('deletequestion', questionid=question.id)}}">delete</a></small>
                          <small class="text-muted answers_1 btn btn-primary"><a  class="changeposition" href="{{url_for('answer', question_id=question.id)}}">answers</a></small>
                      </div>
                      {% endif %}
                      <div class="quesdata">                       
                        <a  href="{{url_for('answer', question_id=question.id)}}">{{question.text}}</a>
                      </div>
                    </div>
                  </article>
                </div>
            {% endfor %}
            {% else %}
            <div class="card">
               <h3>No question</h3>
            </div>
        {% endif %}
        
        <br>
        <br>
  </div>
</div>
<small class="btn btn-secondary changepassword">  <a href="{{url_for('change_password')}}">Change Password</a></small>

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
{% endblock %}
